*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    margin: 0;
    border: 0;
}
.wrapper{
    min-height: 100vh;
}
.homepage-container{
    background: url('../images/bg/landing-page.png') center no-repeat;
    background-size: cover;
    min-height: 90vh;
}
.logo-div{
    background-color: #B88D0D;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-logo{
    width: 230px;
    height: 230px;
    margin: 0;
    padding: 0;
}