*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 450px;
}
a{
    text-decoration: none;
    color: inherit;
}
.row{
    margin: 0;
    border: 0;
}
.wrapper{
    min-height: 100vh;
}
.homepage-container{
    background: url('../images/bg/landing-page.png') center no-repeat;
    background-size: cover;
    min-height: 90vh;
}
.logo-div{
    background-color: #B88D0D;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-logo{
    width: 230px;
    height: 230px;
    margin: 0;
    padding: 0;
}
.page-banner{
    height: 230px;
    width: 100%;
    background: url('../images/banner/about.png') center no-repeat;
    background-size: cover;
}
.about-container {
    position: relative;
    padding: 0;
    margin: 0;
}
.about-container .logo-div{
    height: 120px;
    width: 120px;
    margin-top: -15%;
}
.about-container .brand-logo{
    width: 110px;
    height: 110px;
}
.about-container article p{
    font-size: 14px;
    padding: 10px 50px;
}
.about-container p{
    font-size: 12px;
}
.cards img{
    height: 90px;
    padding: 0;
    margin: 0;
}
footer.footer{
    padding-top: 5px;
    height: 70px;
    background-color: #323232;
    font-size: 40px;
}

footer.footer div{
    height: 70px;
    width: 70px;
    padding: 0;
    margin: 0;
}
footer.footer .drinks{
   margin-top: -10px;
}
footer.footer .drinks.active{
    background-color: #FF9B4F;
}
footer.footer img{
    height: 50px;
    width: 50px;
}
footer.footer .active img{
    color: #FF9B4F;
}