<div class="container-fluid text-black menu-nav py-2">
    <nav class="d-flex flex-nowrap overflow-x-scroll container" id="menu">
        <a href="#sharwama" class="nav-links">Sharwama</a>
        <a href="#fruits" class="nav-links">Fruits</a>
        <a href="#milk" class="nav-links">MIlk</a>
        <a href="#meat" class="nav-links">Meat</a>
        <a href="#bread" class="nav-links">Bread</a>
        <a href="#cream" class="nav-links">Cream</a>
        <a href="#vodka" class="nav-links">Vodka</a>
        <a href="#salads" class="nav-links">Salads</a>
    </nav>
</div>

<div class="menu-cards container" data-bs-spy="scroll" data-bs-target="#menu" data-bs-offset="0"
    data-bs-smooth-scroll="true">
    <div id="sharwama">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center ">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fruits">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="milk">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="meat">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bread">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cream">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="vodka">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="salads">
        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mb-3">
            <div class="row g-0 px-1 align-items-center">
                <div class="col-4">
                    <img src="{{ url_for('static', filename='images/menu/1.png') }}" class="img-fluid rounded-3 w-100"
                        alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body pt-1">
                        <h5 class="card-title my-0 py-0">Chicken Shawarma</h5>
                        <p class="card-text"><small class="text-body-secondary">No sausage</small></p>
                        <p class="card-text">Juicy, marinated chicken, perfectly grille</p>
                        <h5 class="fw-bold m-0">&#8358;3000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>