{% extends 'public/layout.html' %}
{% block content %}
    <div class="wrapper container-fluid px-0 bg-light">
        {% include 'public/nav.html'%}
        <main class="pb-5">
            <div class="room-container text-center mb-5">
                <div class="row">
                    <div id="hotelCarousel" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{ url_for('static', filename='images/banner/hotel.png') }}" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#hotelCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#hotelCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <h1 class="brand fw-semibold mt-3 mb-1 text-uppercase">Deluxe Room</h1>
                <h5 class="fw-bold">
                    &#8358;3,000.00
                </h5>
                <article class=">
                    <p class="fw-medium">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est vero harum laudantium ullam adipisci unde aliquam odit, accusantium incidunt vitae? Assumenda sit culpa repellat asperiores porro maxime similique, aliquam laborum.
                    </p>
                </article>
                <div class="room-features d-flex flex-wrap justify-content-center bg-white border rounded-3 mb-4 py-3">
                    <span class="rounded-pill border border-1 d-inline-block py-1 px-2 mr-2 mb-1">Flat-Screen Tv</span>
                    <span class="rounded-pill border border-1 d-inline-block py-1 px-2 mr-2 mb-1">Air Conditioning</span>
                    <span class="rounded-pill border border-1 d-inline-block py-1 px-2 mr-2 mb-1">Refrigirator</span>
                    <span class="rounded-pill border border-1 d-inline-block py-1 px-2 mr-2 mb-1">Ensuite Bathroom</span>
                    <span class="rounded-pill border border-1 d-inline-block py-1 px-2 mr-2 mb-1">Electric Kettle</span>
                </div>
                <div class="text-center small">
                    <p class="mb-3">
                        <i class="bi bi-geo-alt mr-3"></i> 
                        First Floor
                    </p>
                    <p class="fw-bold mb-1">Call for booking</p>
                    <p class="mb-2">
                        <i class="bi bi-phone mr-3"></i> 
                        <a href="tel:+2348080488888">+234 808 048 8888</a>,
                        <a href="tel:+2348035587572">+234 803 558 7572</a>,
                        <a href="tel:+234 903 750 6278">+234 903 750 6278</a>
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
